@import "tailwindcss";

/* Limpeza do boilerplate nativo para evitar os warnings falsos do Turbopack v16 */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fafafa;
  color: #171717;
}
